body {
    background-color: #006dad;
    color: #222;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

.main_content {
    background-color: #fff;
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

/*.title {*/
/*    font-weight: bold;*/
/*}*/

.hero {
    background-color: #0073b7;
    color: white;
    padding: 50px 0px;
    text-align: center;
}

.hero h1 {
    font-size: 28px;
    margin-bottom: 30px;
}
.hero a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
}
.hero-inner {
    max-width:500px;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: #0073b7;
    height: 65px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

nav > a {
    color: white;
    margin-right: 10px;
}

.pypi-stats {
    padding: 10px 0;
    background-color: #ececec;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 30px;
}
.pypi-stats .stat {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #003d61;
}

.hero input.form-control {
    border-radius: 2px;
}

.project-list h2 {
    font-size: 24px;
    font-weight: bold;
}

.project-list .subtitle {
    font-style: italic;
}

.project-list .project {
    border: 1px solid #d3d3d3;
    padding: 10px;
    background-color: #ececec;
    min-height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.project-list .project .title {
    font-size: 20px;
}

.project-list .project a {
    color: #006dad;
}
.project-list .project .desc {
    font-size: 16px;
    font-style: italic;
}

footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

footer a {
    color: #2495f2;
}

.page-core {
    padding: 20px;
}